<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Paragraphs:</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Month</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% for paragraph in combined_data.paragraphs %}
            <tr>
                <td>{{ paragraph.Month }}</td>
                <td>{{ paragraph.Year }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Tables:</h2>
    {% for table in combined_data.tables %}
    <table border="1">
        <thead>
            <tr>
                {% for header in table.Rows.0 %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table.Rows.1 %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</body>
</html>
