{%load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <title>Doc Reader</title>
    <style>
        /* .table-bordered {
    border: 1px solid #0b7beb;
} */
    </style>
</head>
    <body>
        <header>
            <!-- header inner -->
            <div  class="head_top">
            {% include "header.html" %}
            <h3>Form</h3>
            <!-- <form method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload</button>
            </form> -->
            <!-- rules will be non editable field for headers -->
            {% if headers_data %}
                {% for table_data in headers_data %}
                <div class="table-responsive ">
                    <table class="table">
                        {% for row in table_data %}
                            
                            <tr>
                                {% for cell in row %}
                                <th>{{ cell }}</th>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>        
                </div>
                {% endfor %}
            {% endif %}

            <!-- rule excel type editable -->
            {% if columns and data %}
            <div class="table-responsive ">
                <table class="table">
                    <thead>
                        <tr>
                            {% for column in columns %}
                                <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                            <tr>
                                {% for cell in row %}
                                    <td contenteditable="true">{{ cell }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            <!-- rule word type editable -->
            {% if tables_data %}
            {% for table_data in tables_data %}
            <div class="table-responsive table-bordered">
                <table class="table ">
                    {% for row in table_data %}
                        <tr>
                            {% for cell in row %}
                                {% if forloop.counter == 2 %}
                                    <td class="editable" onclick="makeEditable(this)" contenteditable="true" oninput="checkInput(this)" colspan="2">{{ cell }}</td>
                                {% else %}
                                    <td class="editable" onclick="makeEditable(this)" contenteditable="true" oninput="checkInput(this)">{{ cell }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>        
            </div>
            {% endfor %}
        {% endif %}
        
        

            

        

            